<html>
  <head>
    <title>Favoritos - AquaCensus</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section class="favorites-page">
      
      <!-- Header Section -->
      <div class="header">
        <span class="registro-logo">AQUACENSUS</span>

        <input type="text" class="search-bar" placeholder="Buscar...">
        <div class="user-info">
          <img class="profile-img" src="srcImages/profile-image.png" alt="Profile Image">
          <div class="user-details">
            <!-- Clickable Username -->
            <span class="user-name" id="user-name">João da Silva</span>
            <span class="user-role">Pesquisador</span>
            
            <!-- Dropdown Menu -->
            <div class="dropdown" id="dropdown">
              <ul>
                <li class="favorito-btn" id="favorite-btn">★ Favoritos</li>
                <li class="coletas-btn" id="coletas-btn">Coletas</li>
                <li id="especie-btn" id="especie-btn">Cadastrar</li>
                <li class="conta-btn" id="conta-btn">Conta</li>
                <li>Tema</li>
                <li>Fonte</li>
                <li>Gerar Código</li>
                <li>Desativar conta</li>
                <li>Sair</li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="registro-container">

      
        <div class="registro-body">
          <div class="registro-foto-container">
            <div class="registro-foto-principal"></div>
            
            <div class="registro-fotos-secundarias">
              <div class="registro-foto-secundaria"></div>
              <div class="registro-foto-secundaria"></div>
              
            </div>

            <div class="registro-info">
                <label class="titulo-campo">Nome Científico</label>
                <input type="text" class="cadastro-campo" placeholder="Nome da Espécie">             
             </div>
          </div>
      
          <div class="registro-detalhes">
            
      
            <div class="registro-info">
              <label class="titulo-campo2">Número da Embarcação</label>
              <input type="text" class="cadastro-campo2" placeholder="Nome da Espécie">  
            </div>
      
            <div class="registro-info">
              <label class="titulo-campo2">Data</label>
              <input type="text" class="cadastro-campo2" placeholder="Nome da Espécie">  
            </div>
      
            <div class="registro-info">
              <label class="titulo-campo2">Local de Pesca</label>
              <input type="text" class="cadastro-campo2" placeholder="Nome da Espécie">  
            </div>
      
            <div class="registro-info">
              <label class="titulo-campo2">Nome Comum</label>
              <input type="text" class="cadastro-campo2" placeholder="Nome da Espécie">  
            </div>
      
            <div class="medidas">
                <div class="row-nomes">
                    <label class="titulo-campo2">Peso (kg)</label>
                    <label class="titulo-campo3">Comprimento (cm)</label>
                </div>

              <div class="row-campos">
                <input type="text" class="cadastro-campo-medida" placeholder="Nome da Espécie">  
               <input type="text" class="cadastro-campo-medida" placeholder="Nome da Espécie">  
              </div>
            </div>

              <div class="div-btn-cadastrar-especie">
              <button type="button" class="cadastrar-button" >Cadastrar Espécie </button>
            </div>
      
           
          </div>
        </div>
      </div>
      
    </section>

    <div class="footer"></div>

    <script src="script.js"></script>
  </body>
</html>
